{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-6 offset-4">
            <div class="card p-2">
                <h1 class="card-title text-center">{{object.title | title}}</h1>
                <img src="{{object.thumbnail.url}}" class="card-img-top" alt="...">
                <hr>
                <div class="p-4">
                    <span><i class="fa fa-eye ml-2">{{object.get_view_count}}</i></span>
                    <span><i class="fa fa-thumbs-up ml-2">{{object.get_like_count}}</i></span>
                    <span><i class="fa fa-comments ml-2">{{object.get_comment_count}}</i></span>
                    <span class="float-right mr-2">Posted {{object.publish_date | timesince}} ago</span>
                </div>
                <hr>
                <p>{{object.content}}</p>
                <hr>
                <h4>Enjoy this post ? Give it a Like</h4>
                <a href="{{object.get_like_url}}" class="text-muted">
                    <i class="fa fa-thumbs-up ml-2">{{object.get_like_count}}</i>
                </a>
                <hr>
                {% if request.user.is_authenticated %} 
                <h4>Leave a Comment below</h4>
                <form method="POST">
                    {% csrf_token %}
                    {{form | crispy}}
                    <button class="btn btn-primary">Comment</button>
                </form>
                <hr>
                <h4>Comments : </h4>
                {% for comment in object.comments %}
                    <div>
                        <p>
                            {{comment.content}}
                            <br>
                            <small>{{comment.timestamp | timesince}} ago</small>
                        </p>
                    </div>
                {% endfor %}
                {% else %}
                <a href="{% url 'account_login' %}" class="btn btn-primary btn-block">Login to Comment</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}